<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConfApp | Users</title>
    <link rel="stylesheet" href="../css/myStyle.css">
</head>
<body>
    <h1>To add a user</h1>
    <div>lorum ipsum</div>
</body>
</html>